
.footer a {
text-decoration: none;
}

.footer {
// height: 44.2vh;
background-color:#272727;
padding-top: 81px;
padding-bottom: 91px;
}

.footer__flex--container {
display: flex;
align-items: baseline;
}

.footer__logo-wrapper {
margin-right: 162px;
}

.footer__link--logo {
display: inline-block;
margin-bottom: 19px;

cursor: pointer; 
}

.footer__text {
margin-bottom: 13px;
font-size: 20px;
line-height: 1.3;
letter-spacing: -0.03em;

color: $footer-color;
}

.footer__input {
padding: 13px 18px;
margin-bottom:20px ;
width: 318px;
height: 51px;

background: #454545;
border: 1px solid #595959;
border-radius: 11px;
color: $footer-color;
font-size: 18px;
outline: none;

&::placeholder {
color: #747474;
font-size: 20px;
line-height: 1.3;
letter-spacing: -0.03em;
}
}


.footer__btn {
padding: 8px 35px;
background:var(--btn-background-color);
box-shadow: 0px 0px 30px #ff0d3836;
border-radius: 17px;

font-weight: 500;
font-size: 20px;
line-height: 1.3;
letter-spacing: -0.03em;

color: $footer-color;
cursor: pointer;
transition: background-color 250ms linear;

&:hover {
background-color: $hover-link-color;

}


}


.footer__link--text {
margin-bottom: 22px;
font-weight: 500;
font-size: 20px;
line-height: 1.3;
letter-spacing: -0.03em;

color: var(--btn-background-color);
transition: color 250ms ease;


&:hover {
color: $hover-link-color;

}
}


.footer__item--link {

font-weight: 500;
font-size: 20px;
line-height: 1.3;
letter-spacing: -0.03em;

color: $footer-color;
transition: color 250ms ease;


&:not(:last-child) {
margin-bottom: 12px
}

&:hover {
    color: $hover-link-color;
}


}